<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "cinema.jpeg", alt: "Cinema"%>);">
  <div class="container">
    <h1>CHILL CINEMA</h1>
    <p>To relieve all your stress from coding</p>
  </div>
</div>

<div class="container">
  <h2>All Lists</h2>

  <div class="lists">
      <% @lists.each do |list| %>
        <div class="list" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <h3><%= link_to list.name, list_path(list) %></h3>
        </div>
      <% end %>
  <%= link_to 'Create a list', new_list_path %>
  </div>
</div>
